
### Q1. What is a Database? Differentiate Between SQL and NoSQL Databases.

**Database**: 
A database is an organized collection of data, generally stored and accessed electronically from a computer system. Databases are used to store, retrieve, and manage data efficiently.

**SQL Databases**:
- **Structure**: Relational, uses tables with fixed schemas.
- **Language**: SQL (Structured Query Language).
- **Schema**: Rigid, predefined schema required.
- **ACID Compliance**: Ensures Atomicity, Consistency, Isolation, and Durability.
- **Examples**: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.

**NoSQL Databases**:
- **Structure**: Non-relational, supports various data models like document, key-value, column-family, and graph.
- **Language**: Varies (e.g., MongoDB Query Language, CQL for Cassandra).
- **Schema**: Flexible, dynamic schema.
- **Consistency**: Often eventual consistency, some support ACID.
- **Examples**: MongoDB, Cassandra, Redis, Neo4j.

**Comparison**:
| Feature            | SQL Databases                      | NoSQL Databases                                      |
|--------------------|------------------------------------|-----------------------------------------------------|
| Data Model         | Relational (tables)                | Non-relational (document, key-value, column-family, graph) |
| Schema             | Fixed and predefined               | Flexible and dynamic                                |
| Query Language     | SQL                                | Varies (e.g., MongoDB Query Language)               |
| ACID Compliance    | Yes                                | Often eventual consistency (some provide ACID)      |
| Scalability        | Vertical (scaling up)              | Horizontal (scaling out)                            |
| Use Cases          | Complex queries, transactions      | Big data, real-time web apps, flexible schema needs |

### Q2. What is DDL? Explain Why CREATE, DROP, ALTER, and TRUNCATE are Used with an Example.

**DDL (Data Definition Language)**: 
DDL commands are used to define the structure of the database objects such as tables, indexes, and views.

- **CREATE**: Used to create a new table or database.
  ```sql
  CREATE TABLE Employees (
      EmployeeID int,
      FirstName varchar(255),
      LastName varchar(255),
      BirthDate date
  );
  ```

- **DROP**: Used to delete a table or database.
  ```sql
  DROP TABLE Employees;
  ```

- **ALTER**: Used to modify an existing table structure.
  ```sql
  ALTER TABLE Employees ADD Email varchar(255);
  ```

- **TRUNCATE**: Used to remove all records from a table, but the table structure remains.
  ```sql
  TRUNCATE TABLE Employees;
  ```

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an Example.

**DML (Data Manipulation Language)**: 
DML commands are used to manipulate data stored in the database.

- **INSERT**: Used to insert new records into a table.
  ```sql
  INSERT INTO Employees (EmployeeID, FirstName, LastName, BirthDate)
  VALUES (1, 'John', 'Doe', '1980-01-01');
  ```

- **UPDATE**: Used to modify existing records in a table.
  ```sql
  UPDATE Employees
  SET Email = 'john.doe@example.com'
  WHERE EmployeeID = 1;
  ```

- **DELETE**: Used to delete existing records from a table.
  ```sql
  DELETE FROM Employees
  WHERE EmployeeID = 1;
  ```

### Q4. What is DQL? Explain SELECT with an Example.

**DQL (Data Query Language)**: 
DQL commands are used to query the database for retrieving data.

- **SELECT**: Used to select data from a database.
  ```sql
  SELECT FirstName, LastName, BirthDate
  FROM Employees
  WHERE EmployeeID = 1;
  ```

### Q5. Explain Primary Key and Foreign Key.

- **Primary Key**: A primary key is a field (or combination of fields) in a table that uniquely identifies each row/record in that table. It cannot contain NULL values and must contain unique values.
  ```sql
  CREATE TABLE Employees (
      EmployeeID int PRIMARY KEY,
      FirstName varchar(255),
      LastName varchar(255)
  );
  ```

- **Foreign Key**: A foreign key is a field (or combination of fields) in one table that uniquely identifies a row of another table. It establishes a relationship between the two tables.
  ```sql
  CREATE TABLE Orders (
      OrderID int PRIMARY KEY,
      OrderDate date,
      EmployeeID int,
      FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
  );
  ```

### Q6. Write a Python Code to Connect MySQL to Python. Explain the `cursor()` and `execute()` Method.

```python
import mysql.connector

# Establish the connection
connection = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Create a cursor object
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM Employees")

# Fetch the results
results = cursor.fetchall()

for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()
```

- **`cursor()`**: The `cursor()` method creates a cursor object, which is used to execute SQL queries and fetch results.
- **`execute()`**: The `execute()` method is used to execute a single SQL query. You pass the query string to this method.

### Q7. Give the Order of Execution of SQL Clauses in an SQL Query.

The typical order of execution of SQL clauses in a query is as follows:

1. **FROM**: Specifies the tables to retrieve data from.
2. **JOIN**: Joins tables based on a related column.
3. **WHERE**: Filters records based on specified conditions.
4. **GROUP BY**: Groups rows sharing a property so that an aggregate function can be applied to each group.
5. **HAVING**: Filters groups based on specified conditions.
6. **SELECT**: Specifies the columns to be returned.
7. **DISTINCT**: Removes duplicate rows from the result set.
8. **ORDER BY**: Sorts the result set based on specified columns.
9. **LIMIT**: Limits the number of rows returned.

### Example SQL Query Execution Order

```sql
SELECT DISTINCT FirstName, COUNT(*)
FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
WHERE Employees.BirthDate > '1980-01-01'
GROUP BY FirstName
HAVING COUNT(*) > 1
ORDER BY FirstName ASC
LIMIT 10;
```

- **FROM**: Employees
- **JOIN**: Orders ON Employees.EmployeeID = Orders.EmployeeID
- **WHERE**: Employees.BirthDate > '1980-01-01'
- **GROUP BY**: FirstName
- **HAVING**: COUNT(*) > 1
- **SELECT**: DISTINCT FirstName, COUNT(*)
- **ORDER BY**: FirstName ASC
- **LIMIT**: 10

This order ensures that the SQL query is executed correctly and returns the expected results.